<style>
  .pointer {
    cursor: pointer;
  }
</style>

<div>
  <ul>
    <li>như nào</li>
    <li>làm sao</li>
    <li>thế nào</li>
    <li>muốn gì</li>
    <div>{{ title }}</div>
    <input [type]="inputType" [(ngModel)]="title" />
    <div class="pointer" (click)="incrementAge()">+</div>
    <div>{{ user.age }}</div>
    <div class="pointer" (click)="decrementAge()">-</div>
    <!-- index so thu tu cua item hien tai -->
    <!-- count do dai cua aray -->
    <!-- first true neu phan tu dau tian trong mang-->
    <!-- last true neu phan tu cuoi cung trong mang-->
    <!-- even true neu nhu do la vi tri chan -->
    <!-- odd true neu nhu do la vi tri le -->

    <span *ngIf="user.age > 18; else under18">onInit</span>
    <ng-template #under18>
      <span>Under 18</span>
    </ng-template>
  </ul>
  <ng-container *ngIf="users.length > 0; else noUsers">
    <div
      *ngFor="
        let u of users;
        last as isLast;
        first as isFirst;
        count as count;
        index as index;
        even as isEven;
        odd as isOdd
      "
    >
      <span *ngIf="isFirst">
        <span>Phần tử đầu tiên</span>
      </span>

      <span *ngIf="isLast">
        <span>Phần tử cuối cùng</span>
      </span>

      <span *ngIf="isEven">
        <span>Phần tử chẵn</span>
      </span>

      <span *ngIf="isOdd">
        <span>Phần tử lẻ</span>
      </span>

      <span>Vị trí index: {{ index }}</span>

      <span>Độ dài mảng: {{ count }}</span>
    </div>
  </ng-container>
  <ng-template #noUsers>No user 11 </ng-template>
  <button
    [class.right-margin]="!isLast"
    *ngFor="let tag of tags; last as isLast"
  >
    {{ tag }}
  </button>
  <button (click)="isWarning = !isWarning">warning</button>
  <button (click)="isbgColor = !isbgColor">bg-color</button>
  <!-- <div [class.red] = "isWarning" [class.bg] = "isbgColor" style="width: 25px; height: 25px;">desadsa</div> -->
  <div [class]="{ red: isWarning, bg: isbgColor }">1da23</div>
</div>
<app-progress-bar-component [progress]="60"></app-progress-bar-component>
<app-author-list></app-author-list>
<app-author-detaild
  [author]="authors"
  [checked]="checked"
  (delete)="onDelete($event)"
  (select)="onSelected($event)"
  (toggleChecked)="onChecked()"
  #toggle
></app-author-detaild>
<button (click)="toggle.logClick()">Toogle</button>
<button (click)="callChildMedthod()">sayhelo</button>
<button>{{ currAuthor.name }}</button>

<router-outlet />
