<div
  nz-col
  [nzXs]="resolvedLayout().xs ?? null"
  [nzSm]="resolvedLayout().sm ?? null"
  [nzMd]="resolvedLayout().md ?? null"
  [nzLg]="resolvedLayout().lg ?? null"
  [nzXl]="resolvedLayout().xl ?? null"
  [nzSpan]="resolvedLayout().span ?? null"
  [ngStyle]="gutterStyle()"
>
  <nz-form-item>
    <nz-form-label>
      <ng-content select="[label]"></ng-content>

      <ng-container *ngIf="label()">
        {{ label() }}
      </ng-container>

      <span *ngIf="required()" class="required-mark"> (*) </span>
    </nz-form-label>

    <nz-form-control
      [nzValidateStatus]="control()"
      [nzErrorTip]="errorMessage"
    >
      <textarea
        #textAreaRef
        nz-input
        [formControl]="control()"
        [placeholder]="placeholder()"
        [class]="className()"
        [rows]="rows()"
      ></textarea>
    </nz-form-control>
  </nz-form-item>
</div>
