<div
  nz-col
  [nzXs]="resolvedLayout().xs ?? null"
  [nzSm]="resolvedLayout().sm ?? null"
  [nzMd]="resolvedLayout().md ?? null"
  [nzLg]="resolvedLayout().lg ?? null"
  [nzXl]="resolvedLayout().xl ?? null"
  [nzSpan]="resolvedLayout().span ?? null"
  [ngStyle]="gutterStyle()"
>
  <nz-form-item>
    <nz-form-label>
      <ng-content select="[label]"></ng-content>

      @if (label()) {
        {{ label() }}
      }

      @if (required()) {
        <span class="required-mark"> (*) </span>
      }
    </nz-form-label>

    <nz-form-control
      [nzValidateStatus]="control()"
      [nzErrorTip]="errorMessage"
    >
      <input
        #inputRef
        nz-input
        nzVariant="underlined"
        [formControl]="control()"
        [type]="type()"
        [placeholder]="placeholder()"
        [class]="className()"
      />
    </nz-form-control>
  </nz-form-item>
</div>
