<div
  nz-col
  [nzXs]="resolvedLayout().xs ?? null"
  [nzSm]="resolvedLayout().sm ?? null"
  [nzMd]="resolvedLayout().md ?? null"
  [nzLg]="resolvedLayout().lg ?? null"
  [nzXl]="resolvedLayout().xl ?? null"
  [nzSpan]="resolvedLayout().span ?? null"
  [ngStyle]="gutterStyle()"
>
  <nz-form-item>
    <nz-form-label>
      <ng-content select="[label]"></ng-content>

      @if (label()) {
        {{ label() }}
      }

      @if (required()) {
        <span class="required-mark"> (*) </span>
      }
    </nz-form-label>

    <nz-form-control
      [nzValidateStatus]="control()"
      [nzErrorTip]="errorMessage()"
    >
      <nz-radio-group
        [formControl]="control()"
        [class]="className()"
      >
        @for (option of options(); track option.value) {
          <label
            nz-radio
            [nzValue]="option.value"
            [nzDisabled]="option.disabled ?? false"
          >
            {{ option.label }}
          </label>
        }
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
</div>
